{% extends 'h_f.html' %}
{% load static %}

{% block content %}
    <main class="catalog_main">
        <h1 class="catalog_title">Каталог</h1>
        <div class="catalog_items">
            {% for key, title in categories %}
                <button type="button" class="catalog_item" data-category="{{ key }}">
                    {{ title }}
                </button>
            {% endfor %}
        </div>
        <div class="catalog_products">
            {% for product in products %}
                <div class="catalog_product" data-category="{{ product.type }}">
                    <div class="catalog_image_div">
                        {% if product.image %}
                            <img class="catalog_product_img" src="{{ product.image.url }}" alt="Product Image">
                        {% else %}
                            <img class="catalog_product_img" src="{% static 'img/no-image.png' %}" alt="Product Image">
                        {% endif %}
                    </div>
                    <div class="catalog_product_info">
                        <div class="catalog_product_text">
                            <h2 class="catalog_product_title">{{ product.name }}</h2>
                            <p class="catalog_product_description">{{ product.description }}</p>
                        </div>
                        <div class="status_div">
                            <p class="catalog_product_status status-{{ product.status }}">Статус: {{ product.get_status_display }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_admin %}
            <div class="new_product_div">
                <p>Хотите добавить новый продукт?</p>
                <button class="new_product_btn" id="newProductModalBtn">Добавить</button>
            </div>
        {% endif %}
        <form class="new_product_modal" id="newProductModal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="new_product_modal_content" id="newProductModalContent">
                <div class="label_div">
                    <h2>Добавить продукт</h2>
                    <span class="close" id="closeNewProductModal">&times;</span>
                </div>
                <div class="inputs_div">
                    <input type="text" name="name" class="new_product_input" id="newProductName" placeholder="Название">
                    <input type="text" name="description" class="new_product_input" id="newProductDescription" placeholder="Описание">
                    <input type="file" name="image" id="newProductImage" accept="image/*">
                    <select name="type" class="new_product_input">
                        {% for key, title in categories %}
                            <option value="{{ key }}">{{ title }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" id="addProductButton">Добавить</button>
                </div>
            </div>
        </form>
    </main>

    <script src="{% static 'app/catalog.js' %}"></script>
{% endblock %} 