{% extends 'h_f.html' %}
{% load static %}

{% block content %}
    <main class="catalog_main">
        <h1 class="catalog_title">Каталог</h1>
        <div class="catalog_items">
            {% for item in categories %}
                <button type="button" class="catalog_item"> {{ item.title }}</button>
            {% endfor %}
        </div>
        <div class="catalog_products">
            {% for product in products %}
                <div class="catalog_product">
                    <div class="catalog_image_div">
                        {% if product.image %}
                            <img class="catalog_product_img" src="{{ product.image.url }}" alt="Product Image">
                        {% else %}
                            <img class="catalog_product_img" src="{% static 'img/no-image.png' %}" alt="Product Image">
                        {% endif %}
                    </div>
                    <div class="catalog_product_info">
                        <div class="catalog_product_text">
                            <h2 class="catalog_product_title">{{ product.name }}</h2>
                            <p class="catalog_product_description">{{ product.description }}</p>
                        </div>
                        <div class="status_div">
                            <p class="catalog_product_status status-{{ product.status }}">Статус: {{ product.get_status_display }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

    <script src="{% static 'app/catalog.js' %}"></script>
{% endblock %} 