{% extends 'h_f.html' %}
{% load static %}

{% block content %}
    <div class="auth_div">
        <form class="auth_form" id="login_form">
        {% csrf_token %}
        <h1>Войти</h1>
        <input class="auth_input" id="username" type="text" placeholder="Ник">
        <input class="auth_input" id="password" type="password" placeholder="Пароль">
        <p>Нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
        <button class="auth_button" type="submit">Войти</button> 
    </form>
    </div>
    
    <script src="{% static 'app/login.js' %}"></script>
{% endblock %}