html {
    font-family: "Oswald", sans-serif;
}

header {
    padding: 0.8rem 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background-color: #1a1a1a;

    max-width: 1200px;
    height: 100%;
    
    margin: 0 auto;
}

h1 {
    color: white;
    margin: 0px;
}

h2 {
    color: white;
    margin: 0px;
}

h3 {
    color: white;
    margin: 0px;
}

a {
    text-decoration: none;
    color: skyblue;
    transition: transform 0.2s ease;
    transform-origin: center;
}

a:hover {
    transform: scale(1.05);
}

p {
    margin: 0px;
    color: white;
}

span {
    color: white;
}

input {
    font-family: "Oswald", sans-serif;
}

button {
    font-family: "Oswald", sans-serif;
    transition: transform 0.2s ease;
    transform-origin: center;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Header Sector */
.logo_text {
    color:darkorange;
    font-size: 50px;
}

.header_cont {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header_item {
    font-size: 27px;
    padding: 20px 0px 0px 0px;
    color: rgb(172, 172, 172);
}

.auth_header_item {
    font-size: 20px;
    padding: 20px 0px 0px 0px;
    color: rgb(172, 172, 172);
}

.logout_btn {
    background: none;
    box-shadow: none;
    border: none;
}

.contact_h {
    position: relative;
    display: inline-block;
}

.contact_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    bottom: auto;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);

    background: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 14px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;

    white-space: nowrap;
}

.contact_h:hover .contact_div {
    opacity: 1;
    visibility: visible;
}


/* Footer Sector */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #112D32;
}

.contact {
    margin-left: 20px;
}

.rights {
    margin-right: 20px;
}

.footer_element {
    color: #DEF2F1;
}

/* Auth Sector */
.auth_div {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth_form {
    background-color: #2b2b2b;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    padding: 20px;
    gap: 20px;
}

.auth_input {
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: 0.2s;
    width: 20vw;
    height: 30px;
    font-size: 18px;
    text-indent: 5px;
}

.auth_input:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.auth_button {
    width: 5vw;
}

/* Index Sector */
.index_main {
    width: 100%;
    padding: 20px 0px;

    background-color: #000000;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

/* Catalog Sector */
.catalog_main {
    width: 100%;
    padding: 20px 0px;

    background-color: #000000;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.catalog_title {
    margin-bottom: 20px;
}

.catalog_items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;    
    gap: 20px;
    justify-content: center;
}

.catalog_item {
    background-color: #000000;
    border: 1px solid #fff;
    color: lightblue;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    transform-origin: center;
}

.catalog_item:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.catalog_item.active {
    background-color: #fff;
    color: #000000;
}

.catalog_item_title {
    color: black;
    font-size: 32px;
}

.catalog_products {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.catalog_product {
    display: flex;
    margin-top: 50px;
}

.catalog_image_div {
    display: flex;
    justify-content: center;
}

.catalog_image_div {
    width: 250px;
    height: 175px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog_product_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.catalog_product_info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
    justify-content: space-between;
}

.catalog_product_description {
    margin-top: 5px;
    text-align: justify;
}

.status_div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.status-under_review {
    color: #e67e22;
}

.status-testing {
    color: #f1c40f;
}

.status-ready_for_pickup {
    color: #2ecc71;
}