html {
    font-family: "Oswald", sans-serif;
}

header {
    padding: 0.8rem 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background-color: #1a1a1a;

    max-width: 1200px;
    height: 100%;
    
    margin: 0 auto;
}

h1 {
    color: white;
    margin: 0px;
}

h3 {
    color: white;
    margin: 0px;
}

a {
    text-decoration: none;
    color: skyblue;
}

p {
    margin: 0px;
    color: white;
}

span {
    color: white;
}

input {
    font-family: "Oswald", sans-serif;
}

button {
    font-family: "Oswald", sans-serif;
}

/* Header Sector */
.logo_text {
    color:darkorange;
    font-size: 50px;
}

.header_cont {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header_item {
    font-size: 27px;
    padding: 20px 0px 0px 0px;
    color: rgb(172, 172, 172);
}

.auth_header_item {
    font-size: 20px;
    padding: 20px 0px 0px 0px;
    color: rgb(172, 172, 172);
}

/* Footer Sector */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #112D32;
}

.contact {
    margin-left: 20px;
}

.rights {
    margin-right: 20px;
}

.footer_element {
    color: #DEF2F1;
}

/* Auth Sector */
.auth_div {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth_form {
    background-color: #2b2b2b;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    padding: 20px;
    gap: 20px;
}

.auth_input {
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: 0.2s;
    width: 20vw;
    height: 30px;
    font-size: 18px;
    text-indent: 5px;
}

.auth_input:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.auth_button {
    width: 5vw;
}

/* Index Sector */
.index_main {
    width: 100%;
    padding: 20px 0px;

    background-color: #000000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

/* Catalog Sector */
.catalog_main {
    width: 100%;
    padding: 20px 0px;

    background-color: #000000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}


